# OSX
#
.idea
.DS_Store
npm-debug.log
npm-debug.log*
yarn-error.log
lerna-debug.log
node_modules
.vscode/*
package-lock.json

# TS build
/build
coverage

# This is at root because we don't want to ignore it in
# newly spun-up apps, but we do want to ignore it in
# Ignite's source repo.
boilerplate/yarn.lock
boilerplate/bun.lockb
boilerplate/bun.lock
boilerplate/.gitignore.template

# Test artifacts
test/artifacts/*

# flame CLI
.config

# Ignore everything inside .yarn except the necessary subdirectories
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore Yarn's global cache (not needed for Zero-Installs)
.yarn/cache

# Ignore build artifacts
.yarn/build-state.yml
.yarn/install-state.gz