import { AppRegistry } from 'react-native'
import Root from './App/Root'
import Reactotron from 'reactotron'

Reactotron.connect({enabled: __DEV__})

AppRegistry.registerComponent('<%= name %>', () => Root)
