import test from 'ava'
import React from 'react'
import { shallow } from 'enzyme'
import <%= name %> from '../../App/Components/<%= name %>'

test('component exists', t => {
  const wrapper = shallow(<<%= name %>  />)
  t.is(wrapper.length, 1) // exists
})

test('component structure', t => {
  const wrapper = shallow(<<%= name %>  />)  // Add in Props if needed

  t.is(wrapper.name(), 'View')                       // the right root component
  t.is(wrapper.children().length, 1)                 // has 1 child
  t.is(wrapper.children().first().name(), 'Text')    // that child is Text
  t.true(wrapper.children().first().containsMatchingElement('<%= name %> Component')) // That the Component Text is included
})

//test('some other things here', t => {
//   const wrapper = shallow(<YourComponentNameHere // SomeProps > )
//   // make some assertions.
//
//})
