# This is an example where you can store your environment variables.
# It uses `react-native-dotenv` as a babel transform.
#
# Then just do this to import them:
# import { API_URL } from 'react-native-dotenv'

API_URL=https://myapi.com
GOOGLE_MAPS_API_KEY=abcdefgh
